<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Digital Music Stand</title>

        <link href="/static/bs/css/bootstrap.min.css" rel="stylesheet">

        {% if next_image %}
        <!-- pre-fetch the image for the next page -->
        <link rel="prefetch" href="{{next_image}}" />
        {% endif %}

        <script>

        handleKeyPress= function(event) {
            // en_GB keyboard. Gap at 6,Y,G,H,B,N.
            // space is also considered a "key that moves you right"
            // arrow keys also do left and right as expected.
            leftKeys = "12345" + "QWERT" + "ASDF" + "ZXCV";
            leftCodes = [27, 112, 113, 114, 115,  // ESC, F1-F4
                         223, 9, 20, 220,         // BACKTICK TAB CAPS-LOCK \ 
                         37 ];                      // LEFT-ARROW

            rightKeys = "7890=" + "UIOP" + "JKL;" + "NM" + " "
            rightCodes = [173, 8, 219, 221, 13,   // BACKSPACE [ ] ENTER
                          188, 190, 191,          // , . /
                          186, 222, 163, 225,     // ; ' # ENTER ALT-GR 
                          39 ];                   // RIGHT-ARROW

            if (navigator.userAgent.indexOf("Chrome") !== -1) {
                // (possibly also in WebKit)
                rightCodes.push(187);  // equals  (don't seem to work well)
                rightCodes.push(189);  // minus   (don't seem to work well)
                rightCodes.push(192);  // Apostrophe 
            } else if (navigator.userAgent.indexOf("Firefox") !== -1) {
                leftCodes.push(171);  // minus
                leftCodes.push(192);  // backtick
            }
            // ignoredCodes = [ 16, 17, 93 ]      // SHIFT CTRL CONTEXT
            // ----------------------------------------------------------------

            // Polyfilla for MSIE event handlers
            if (window.event) {
                event = window.event;
            }

            var code = (typeof event.which == "number") ? event.which : event.keyCode;
            var typedChar = String.fromCharCode(code);

            if (leftKeys.indexOf(typedChar) !== -1 || leftCodes.indexOf(code) !== -1) {
                previousPage();
            } else if (rightKeys.indexOf(typedChar) !== -1 || rightCodes.indexOf(code) !== -1) {
                nextPage();    
            }
            return false;
        };

        previousPage = function() {
            location.href="/p/{{prev}}";
        }
        nextPage = function() {
            location.href="/p/{{next}}";
        }
        </script>

        <style>
            iframe.web_page_container {
                position:absolute;
                top: 0px;
                left: 0px;
                width:100%;
                height:100%;
                overflow:none;
                border: 0px solid red;
            }
            img.full_page_image {
                max-width:75%
            }
        </style>
    </head>
<body>

{% block full_screen_content %}<hr>{% endblock %}

<div style="position:absolute; top: 1px;right:10px; background-color: white;
            font-size:12px;font-weight:bold;font-family:sans-serif;">
    <a onclick="previousPage();return false;" class="btn btn-default btn-sm" href="#previous">Prev</a> 
    <a href="/uploads" class="btn btn-default btn-sm">Settings</a> 
    <a onclick="nextPage();return false;" class="btn btn-default btn-sm" href="#next">Next</a>
</div>

    {#
        <script src="/static/jq/jquery-2.2.4.min.js"></script>
        <script src="/static/bs/js/bootstrap.min.js"></script>
    #}
    <script>document.body.onkeydown = handleKeyPress;</script>
</body>
</html>

