{% extends "base_settings.html" %}
{% block content %}
        <div class="container">
            <div class="container text-center">
                <h1>Active Playlist</h1>
            </div>

            <form method="post" action="/edit_playlist" class="form-horizontal">

                <table class="table table-hover table-condensed">
                {% for pl in playlist_items %}
                    <tr>
                        <td>{{ pl.id }}</td>
                        <td>{{ pl.name }}</td>
                        <td>({{ pl.type }})</td>
                        {# The Cross is Unicode Character 'BALLOT X' (U+2717) #}
                        <td>
                            <a href="/edit_playlist?action=delete&amp;id={{ pl.id }}">&#x2717;</a>
                        </td>

                    </tr>
                {% endfor %}
                </table>

                <!-- dropdown box
                        Use col-md-* to fix the widths ( I don't want the dropdowns to be
                        full width)
                        -->
                <div class="form-group">
                    <label for="to_insert" class="col-md-2 control-label">Script to insert</label>
                    <div class="col-md-10">
                        <select class="form-control" name="to_insert" id="to_insert">
                            {% for score in scores_info %}
                                <option value="{{ score.dir }}">
                                    {{ score.name }} ({{ score.size_str }})
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="insert_after" class="col-md-2 control-label">Insert</label>
                    <div class="col-md-10">
                        <select class="form-control" name="insert_after" id="insert_after">
                            <option value="-1">At the beginning</option>
                            {% for pl in playlist_items %}
                            <option value="{{ pl.id }}">
                                after {{ pl.id }} - {{ pl.name }} ({{ pl.type }})</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                        Insert script into Playlist
                    </button>
                </div>


                            {# Save and Load playlists: 
                             #
                             # These are enhancements to be added later 
                             #
                            """<p class="example">
                                Save this playlist under a different name: <input type="submit" 
                                value="Save as"  onclick="return false;">
                                <input type="text" name="save_as_name">
                                <!-- This will need some verification of playlist names.-->
                            </p>
                            <hr>
                            <p class="example">
                                Load a previously saved playlist: <input type="submit" value="Load" 
                                onclick="return false;"> 
                                <select name="playlist_to_load" onclick="return false;">
                                    <option value="test_playlist_1">test_playlist_1</option>
                                    <!--<option value="sue_s_concert">Sue's Concert</option>
                                    <option value="daily_practice">Daily Practice</option>-->
                                </select>
                            </p>
                            <p class="example">
                                This will overwrite the active playlist above.
                            </p>"""
                            <hr>
                            #}

                <div class="form-group">
                    <a href="/p/0" class="btn btn-default" role="button">
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span> Play</a>
                    <a href="#/scores" class="btn btn-default disabled" role="button">Upload a file</a>
                    <a href="/uploads" class="btn btn-default" role="button">See uploads</a> 
                    <a href="/scores" class="btn btn-default" role="button">See all scores</a>
                    {# <a href="/playlist" class="btn btn-default" role="button">See playlist</a> #}
                </div>
            </form>
        </div>
{% endblock %}