{% extends "base_settings.html" %}
{% block content %}

    <div class="container">
        <div class="container text-center">
            <h1>Score created</h1>
            <h2>Score <b>&quot;{{ score_name }}&quot;</b> successfully created</h2>
        </div>

        <form action="" class="form-horizontal">
            <div class="form-group">
                The following files were added to the score
            </div>

            <table class="table table-hover table-condensed">
                {% for file in files %}
                    <tr>
                        <td>
                            <span><a target="_blank" href="{{ prefix }}{{ file }}">{{ file }}</a></span>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div class="form-group">
                <a href="/p/0" class="btn btn-default" role="button">
                    <span class="glyphicon glyphicon-music" aria-hidden="true"></span> Play</a>
                <a href="/upload" class="btn btn-default" role="button">Upload a file</a>
                <a href="/uploads" class="btn btn-default" role="button">See uploads</a> 
                <a href="/scores" class="btn btn-default" role="button">See all scores</a>
                <a href="/playlist" class="btn btn-default" role="button">See playlist</a>
            </div>

        </form>
    </div>

{% endblock %}