{% extends "base_settings.html" %}
{% block content %}
        <div class="container">
            <div class="container text-center">
                <h1>Available Scores</h1>
            </div>

            <form method="post" action="" class="form-horizontal">

                <table class="table table-hover table-condensed">
                {% for score in scores_info %}
                    <tr>
                        <td>
                            <span>{{ score.name }}</span>
                        </td>
                        <td>
                            <span>{{ score.num_files_str }}</span>
                        </td>
                        <td>
                            <a href="#send">ADD</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>

                <div class="form-group">
                    <a href="/p/0" class="btn btn-default" role="button">
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span> Play</a>
                    <a href="/upload" class="btn btn-default" role="button">Upload a file</a>
                    <a href="/uploads" class="btn btn-default" role="button">See uploads</a> 
                    {# <a href="/scores" class="btn btn-default" role="button">See all scores</a> #}
                    <a href="/playlist" class="btn btn-default" role="button">See playlist</a>
                </div>
            </form>
        </div>
{% endblock %}