{% extends "base_settings.html" %}
{% block content %}

        <div class="container">
            <div class="container text-center">
                <h1>Uploaded files</h1>
            </div>
            <form method="post" action="/create_score" class="form-horizontal">
                <p>Here are the files recently uploaded.</p>

                <table class="table table-hover table-condensed">
            	{% for file in files %}
                    <tr>
                        <td>
            		        <input type="checkbox" id="incl__{{ file }}" name="incl__{{ file }}">
                        </td>
                        <td>
                            <label for="incl__{{ file }}">{{ file }}</label>
                        </td>
                        <td>
                            <a href="{{ prefix }}{{ file }}" title="edit">
                                <span class="glyphicon glyphicon-file" title="view"></span>
                                View file
                            </a>
                        </td>
                    </tr>
        	    {% endfor %}
                </table>

                <div class="form-group">
                    <label for="score_name" class="col-sm-2 control-label">Score name:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="score_name" id="score_name">
                    </div>
                    <p class="help-block">
                        Tick the image files you want in this score, from the list above, and enter a name
                        for this score.
                    </p>
                </div>

                <div class="form-group">
                    {# This was an <input type="submit" value="Create score"> Bootstrap wants a button, 
                    not an input #}
                    <button type="submit" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                        Create Score
                    </button>
                </div>

                <div class="form-group">
                    <a href="/p/0" class="btn btn-default" role="button">
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span> Play</a>
                    <a href="#/scores" class="btn btn-default disabled" role="button">Upload a file</a>
                    {# <a href="/uploads" class="btn btn-default" role="button">See uploads</a> #}
                    <a href="/scores" class="btn btn-default" role="button">See all scores</a>
                    <a href="/playlist" class="btn btn-default" role="button">See playlist</a>
                </div>
            </form>
        </div>
{% endblock %}
