<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">

        <title>Digital Music Stand</title>

    </head>
    <body>
        <form method="post" action="/create_score">
            <p>Here are the files recently uploaded.</p>
            <ul>
        	{% for file in files %}
        		<li><input type="checkbox" name="incl__{{ file }}"><a href="{{ prefix }}{{ file }}">{{ file }}</a></li>
    	    {% endfor %}
    		</ul>
            <hr>
            <p>Select the image files you want in this score, from the list above (tick to select)</p>
            <p>Score name: <input type="text" name="score_name"></p>
            <p><input type="submit" value="Create score"></p>
        </form>
        <p><a href="/scores">See scores</a></p>

		<pre>{{ debug }}</pre> 
    </body>
</html>